.amen_head {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;

}
.firstesttt_left{
    width: 40%;
    padding-top: 3.8%;
    padding-left: 5%;
}
@media (max-width: 810px) {
    .firstesttt_left {
      /* display: none; */
      width: 49%;
      top: -6rem;
    position: relative;
    flex-direction: column;
    display: flex;
    }
  }
  @media (max-width: 590px) {
    .firstesttt_left {
        width: 70%;
    }
  }
.first_headdd{
    background-color: #122620;
    height: 114vh;
}
@media (max-width: 1240px) {
    .first_headdd {
        height: 100vh;
    }
  }
  @media (max-width: 896px) {
    .first_headdd {
        height: 90vh;
    }
  }
  @media (max-width: 810px) {
    .first_headdd {
        height: 158vh;
    }
  }
  @media (max-width: 590px) {
    .first_headdd {
        height: 142vh;
    }
  }
.okokok{
    display: flex;
}

@media (max-width: 810px) {
    .okokok{
        display: flex;
        flex-direction: column-reverse;
    }
  }

.t1_imgg{
    width: 60vw;
     height: 100vh; 
}
@media (max-width: 896px) {
    .t1_imgg {
        height: 90vh;
    }
  }
  @media (max-width: 810px) {
    .t1_imgg {
        width: 100vw;
    }
  }
  @media (max-width: 590px) {
    .t1_imgg  {
        height: 80vh;
    }
  }
  @media (max-width: 570px) {
    .t1_imgg{
        height: 73vw;
    }
}
.top_top{
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    background: transparent;
    z-index: 2;
    position: relative;
}
.first_heading{
    font-size: 18px;
    font-weight: 500;
    color:#FFFFFF;
}
.for_gap{
    padding-bottom: 15px;
    display: flex;
    gap: 24px;
    align-items: center;
}
@media (max-width: 1240px) {
    .for_gap {
      display: none;
    }
  }
.for_gaaap{
    padding-bottom: 15px;
    display: flex;
    gap: 4px;
    align-items: center;
}
.sterling{
    font-size: 48px;
     font-weight: 300;
     color: #D6AD60;
}
.sterling22{
    font-size: 28px;
    font-weight: 600;
    margin-top: 0.2rem;
    color: #D6AD60;
}
.lux{
    font-size: 40px;
    font-weight: 500;
    padding-top: 5%;
    color: #D6AD60;
}
@media (max-width: 1240px) {
    .lux {
        font-size: 28px;
    }
  }
.ready{
    padding-top: 6%;
     padding-bottom: 6%;
     font-size: 30px;
     font-weight: 500;
     color: #D6AD60
}
@media (max-width: 1240px) {
    .ready {
        padding-top: 6%;
        padding-bottom: 6%;
        font-size: 20px;
        font-weight: 500;
        color: #D6AD60
    }
  }
  @media (max-width: 1024px) {
    .ready {
    font-size: 20px;
    padding-top: 13%;
    padding-bottom: 13%;
    }
  }
  @media (max-width: 1024px) {  
.gridd_hai_guys{
    width: 5vw;
    height: 10vh;
}}

.livingss{
    padding-top: 6%;
     font-size: 31px;
      font-weight: 500;
      color: #D6AD60
}
@media (max-width: 1240px) {
    .livingss {
   
    font-size: 20px;
    }
  }
  @media (max-width: 1024px) {
    .livingss {
    font-size: 20px;
    padding-top: 13%;
    }
  }
.main_bord{
    border: 2px solid #D6AD60;
     padding-top: 10px;
     padding-bottom: 10px;
      padding-left: 5px;
       padding-right: 5px;
       width: 20vw;
       text-align: center;
}
@media (max-width: 1240px) {
    .main_bord {
      display: none;
    }
  }
  .sterlinggg{
    font-size: 36px;
    font-weight: 400;
    color: #D6AD60;
  }
.third_part {
    background-color: #122620;
    height: 155vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 1240px) {
    .third_part {
        background-color: #122620;
        height: 181vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
  }

  @media (max-width: 1024px) {
    .third_part {
        height: 145vh;
    }
  }
  @media (max-width: 740px) {
    .third_part {
        height: 180vh;
    }
}

  .ssssss{
    margin-bottom: 191px
  }
  @media (max-width: 1240px) {
    .ssssss {
    margin-bottom: 23rem
       
    }
  }

  @media (max-width: 1024px) {
    .ssssss {
        margin-bottom: 8rem
           
        }  
}
@media (max-width: 740px) {
    .ssssss {
        margin-bottom: 22rem;
    }
}

.seventh_part {
    background-color: #122620;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 810px) {
    .seventh_part {
        height: 139vh;
    }
  }
.ninth_part {
    background-color: #122620;
    height: 53vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.eight_part {
    background-size: cover;
    display: flex;
    background-position: center;
    opacity: 70%;
    background-repeat: no-repeat;
    background-image: url('../Assets/background3.png');
    /* flex-direction: column; */
    align-items: center;
    height: 90vh;
    gap: 19%;
    justify-content: center;
}
@media (max-width: 810px) {
    .eight_part  {
        flex-direction: column;
    }
  }
  @media (max-width: 810px) {
  .formmmmsssssrr{
    display: none;
  }
}
.formm {
    width: 23vw;
    padding: 30px 32px 30px 30px;
    background: white;
    height: 311px;
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.formRow {
    width: 19.8vw;
    height: 48px;
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
}

.formRow:focus {
    outline: none;
}

.submit_btn {
    background-color: #D4AF37;
    width: 19.8vw;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.contact {
    width: 33vw;
    gap: 24px;
    height: 91px;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    padding: 8px 16px 8px 16px;
    background-color: #ffffff;
}
@media (max-width: 810px) {
    .contact{
        width: 41vw;
    }
}
.contact_scnd {
    width: 33vw;
    gap: 24px;
    height: 202px;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    padding: 8px 16px 8px 16px;
    background-color: #ffffff;
}
@media (max-width: 810px) {
    .contact_scnd{
        width: 41vw;
    }
}
.enquire {
    font-size: 24px;
    font-weight: 500;
}

.left_head {
    gap: 52px;
    display: flex;
    flex-direction: column;
}

.bottom {
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    font-style: Gotham;
    color: #000000;
}

.top {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.contact_us {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    font-style: Gotham;
}

.call_back {
    font-size: 32px;
    font-weight: 400;
    font-family: Lora;
}
.third_frst {
    font-size: 32px;
    font-weight: 400;
    color: #ffffff ;
}
.gapppppguys{
    gap:16px;
    display: flex;

}
.overALL_Img{
    display: flex;
    gap:4%;
    margin-top: 4%;
    width: 74vw;
}
@media (max-width: 810px) {
    .overALL_Img {
        flex-direction: column;
    }
}
.walls{
font-size: 20px;
color: #ffffff;
font-weight: 500;
}
@media (max-width: 953px) {
    .walls{
        font-size: 16px;
        }
  }
.comn_hox {
    text-align: center;
    width: 782px;
    margin-top: 3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid #D4AF37;
    background-color: #12262099;
}
@media (max-width: 1024px) {
    .comn_hox {
        text-align: center;
        width: 44vw;
    }
}
@media (max-width: 934px) {
    .comn_hox {
        text-align: center;
        width: 51vw;
    }
}
@media (max-width: 810px) {
    .comn_hox {
        text-align: center;
        width: 56vw;
    }
}

@media (max-width: 740px) {
    .comn_hox {
        width: 85vw;
    }
}

.comn_hox22{
    text-align: center;
    width: 24vw;
    height: 72px;
    border-radius: 8px;
    border: 1px solid #D4AF37;
    background-color: #12262099;
}
@media (max-width: 1240px) {
    .comn_hox22{
        text-align: center;
        width: 20vw;
        height: 72px;
    }
  }
  @media (max-width: 1024px) {
    .comn_hox22{
        text-align: center;
        width: 30vw;
        height: 72px;
    }
  }
.sixth_part {
    height: 108vh;
    background-size: cover;
    display: flex;
    background-position: center;
    opacity: 85%;
    background-repeat: no-repeat;
    background-image: url('../Assets/background2.png');
    flex-direction: column;
    align-items: center;
    /* gap: 90px; */
    /* justify-content: center; */
}
@media (max-width: 810px) {
    .sixth_part {
        height: 122vh;
    }
  }
.fourth_part{
    height: 100vh;
    background-size: cover;
    display: flex;
    background-position: center;
    /* opacity: 85%; */
    background-repeat: no-repeat;
    background-image: url('../Assets/hoverImage2.png');
    flex-direction: column;
    align-items: center;
    /* gap: 90px; */
    justify-content: center;
}
@media (max-width: 953px) {
    .fourth_part{
        height: 86vh;
        }
  }
  @media (max-width: 810px) {
    .fourth_part {
        height: 127vh;
    }
}
.background-div {
    height: 546px;
    background-size: cover;
    display: flex;
    background-position: center;
    opacity: 85%;
    background-repeat: no-repeat;
    background-image: url('../Assets/hoverImage.png');
    flex-direction: column;
    align-items: center;
    gap: 90px;
    justify-content: center;
}
@media (max-width: 740px) {
    .background-div {
        gap: 50px;
    }
}

.overview {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
}
@media (max-width: 1240px) {
    .overview {
        font-size: 16px;
    }
  }
.learn {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    /* padding-top: 2rem; */
    padding-bottom: 1.5rem;
    text-decoration: underline;
}
@media (max-width: 1240px) {
    .learn {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        /* padding-top: 2rem; */
        padding-bottom: 1.5rem;
        text-decoration: underline;
    }
  }
.Modern_spaced {
    color: #D4AF37;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 30px;
}
@media (max-width: 1240px) {
    .Modern_spaced {
        color: #D4AF37;
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 30px;
    }
  }
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #122620;
    padding: 10px;
    width: 85vw;
    height: 450px;
}
@media (max-width: 1240px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #122620;
        padding: 10px;
        width: 85vw;
        height: 450px;
    }
  }
  @media (max-width: 740px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}

.grid-item {
    background-color: #122620;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.download_broch {
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    place-self: center;
    background-color: #D4AF37;
    width: 248px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    border-radius: 4px;
    color: #122620;
}
@media (max-width: 1240px) {
    .download_broch {
        font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    place-self: center;
    background-color: #D4AF37;
    width: 219px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    border-radius: 4px;
    color: #122620;
    }
  }

  @media (max-width: 740px) {
    .download_broch {
        font-size: 17px;
    }
}


.frst_box {
    width: 57vw;
    /* height: 198px; */
    padding: 16px 0px 16px 0px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #D4AF37;
    background-color: #12262099;
}

@media (max-width: 889px) {
    .frst_box{
        width: 63vw;
        }
  }
  @media (max-width: 740px) {
    .frst_box {
        width: 79vw;
    }
}
@media (max-width: 590px) {
    .frst_box {
        width: 95vw;
    }
  }
.second_box {
    width: 20vw;
    /* width: 270px; */
    background-color: #12262099;
    border: 1px solid #D4AF37;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    flex-direction: column;
}
@media (max-width: 889px) {
    .second_box{
        width: 21vw;
        }
  }
  @media (max-width: 740px) {
    .second_box {
        width: 37vw;
    }
}
.secondRow {
    display: flex;
gap: 4.5vw;
}
@media (max-width: 740px) {
    .secondRow {
        display: flex;
        flex-direction: column;
    }
}
.secondRow2{
    display: flex;
    gap: 4.5vw;
}
.firstttt {
    height: 96px;
    font-size: 80px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #D4AF37;
}

.scnd {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.seccccc {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.yellow_head2 {
    font-size: 40px;
    height: 72px;
    font-weight: 500;
    display: flex;
    color: #D4AF37;
justify-content: center;
align-items: center;
}
@media (max-width: 1240px) {
    .yellow_head2 {
        font-size: 32px;
        height: 72px;
        font-weight: 500;
        display: flex;
        color: #D4AF37;
    justify-content: center;
    align-items: center;
    }
  }
  @media (max-width: 740px) {
    .yellow_head2 {
        font-size: 28px;
    }
}

.gapagain{
gap: 23px;
display: flex;
padding-top: 65%;
}

@media (max-width: 1240px) {
    .gapagain{
        padding-top: 48%;
        }
  }
  @media (max-width: 953px) {
    .gapagain{
        padding-top: 43%;
        }
  }
  @media (max-width: 810px) {
    .gapagain{
        padding-top: 20%;
        }
}
.frst_floor{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    width: 24vw;
}
.scnd_floor{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    width: 24vw;
}
.top_two{
    display: flex;
}
.third_floor{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    width: 24vw;
}
.comn_floor{
    display: flex;
    height: 38vh;
}
@media (max-width: 810px) {
    .comn_floor {
        align-items: center;
        flex-direction: column;
        height: 64vh;
    }
  }

  .comn_floor2{
    display: flex;
    height: 38vh;
}
@media (max-width: 810px) {
    .comn_floor2 {
        align-items: center;
        height: 31vh;
    }
  }

.floor_imagesss{
    width: 100%;
    height: 30vh;
}
@media (max-width: 1024px) {
    .floor_imagesss{
width: 93%;
    height: 30vh;
    }
}
@media (max-width: 810px) {
    .floor_imagesss{
width: 93%;
    height: 24vh;
    }
}
.gapagain2{
    gap: 23px;
    display: flex;
    padding-top: 60%;
}

@media (max-width: 1240px) {
    .gapagain2{
        padding-top: 45%;
        }
  }
  @media (max-width: 953px) {
    .gapagain2{
        padding-top: 43%;
        }
  }
  @media (max-width: 810px) {
    .gapagain2{
        padding-top: 20%;
        }
}
.gapagain3{
    gap: 23px;
    display: flex;
    padding-top: 25.5%;
}

@media (max-width: 1240px) {
    .gapagain3{
        padding-top: 11.2%;
        }
  }

.immm1{   
    height: 67vh;
    width: 39vw;
}

    @media (max-width: 1240px) {
        .immm1 {          
height: 58vh;
width: 37vw;
        }
      }
      @media (max-width: 953px) {
        .immm1 {          
            height: 48vh;
            width: 37vw;
        }
      }
      @media (max-width: 810px) {
        .immm1 {
            width: 80vw;
            height: 55vh;
        }
    }

.yellow_head {
font-size: 41px;
height: 72px;
font-weight: 500;
display: flex;
color: #D4AF37;
align-items: center;
justify-content: center;
}
@media (max-width: 1240px) {
    .yellow_head {
        font-size: 32px;
        height: 50px;
        font-weight: 500;
        display: flex;
        color: #D4AF37;
        align-items: center;
        justify-content: center;
        }
  }
  @media (max-width: 810px) {
    .yellow_head {
        font-size: 28px;
    }
}
.bbhk {
    background-color: #D4AF37;
    color: #122620;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    height: 42px;
    justify-content: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;
    width: 111px;
}
.react-3d-carousel .slider-container .slider-left div{
    left: -8rem !important;
    height: 28px !important;
    width: 28px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50% !important;
}

.slider-right>div{
    height: 28px !important;
    width: 28px !important;
    left: 400% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50% !important;
}
.hbhk {
    color: #D4AF37;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    height: 42px;
    justify-content: center;
    border: 1px solid #D4AF37;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;
    width: 110px;
}

.comm_bhk {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.highlight {
    color: #D4AF37;
    font-size: 18px;
    cursor: pointer;
    font-weight: 400;
}

.underhighlight {
    color: #D4AF37;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
}
.frst_frst{
    display: flex;
    gap: 5px;
}
.numberBold {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 16px;
}
.numberBold2 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    /* padding-top: 16px; */
}
.loc_div {
    width: 82.5%;
    gap: 120px;
    margin-top: 5px;
    display: flex;
}
@media (max-width: 849px) {
    .loc_div {
        gap: 76px;
    }
}
@media (max-width: 810px) {
    .loc_div {
        flex-direction: column;
        gap: 15px;
        width: 73%;
    }
  }
.head_head {
    gap: 1vw;
    gap: 1vw;
    display: flex;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.frst_cmn {
    gap: 32px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 849px) {
    .frst_cmn {
        gap: 18px;
    }
}
@media (max-width: 810px) {
    .frst_cmn {
        gap: 25px;
        flex-direction: row;
    }
  }
.map_img{
    height: 60vh;
     width: 35vw;
}
@media (max-width: 810px) {
    .map_img {
        height: 60vh;
        width: 74vw;
    }
  }
.gallery {
    font-size: 48px;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-weight: 500;
    color: #D4AF37;
}

@media (max-width: 1240px) {
    .gallery{
        font-size: 32px;

        }
  }

.image_scroll {
    width: 852px;
    height: 469px
}

.useBtns {
    display: flex;
    position: absolute;
    right: 32vw;
    bottom: 12vh;
    z-index: 3;
}

.useBtns > img {
    cursor: pointer;
}
@media (max-width: 896px) {
    .useBtns {
        right: 28vw;
    }
  }
  @media (max-width: 810px) {
    .useBtns {
        right: 47vw;
        bottom: 15vh;
    }
  }
  @media (max-width: 590px) {
    .useBtns {
        bottom: 25vh;
    }
  }
  @media (max-width: 470px) {
    .useBtns{
       bottom: 46vh;
       right: 43vw;
    }
}
.lol {

}

.react-3d-carousel .slider-container .slider-content .slider-single.proactivede {
    z-index: 2 !important;
}

.react-3d-carousel .slider-container .slider-content .slider-single.active .slider-left, .react-3d-carousel .slider-container .slider-content .slider-single.proactivede .slider-right {
    display: flex;
}

.react-3d-carousel .slider-container .slider-content .slider-single.active .slider-left, .react-3d-carousel .slider-container .slider-content .slider-single.proactivede .slider-left {
    display: flex;
}

.react-3d-carousel .slider-container .slider-content .slider-single.proactivede:nth-of-type(2) .slider-single-content {
    opacity: 0.3;
    transform: translateX(-25%) scale(0.8) !important;
}

.react-3d-carousel .slider-container .slider-content .slider-single.proactivede:nth-of-type(3) .slider-single-content {
    opacity: 1;
    transform: translateX(0%) scale(1) !important;
}

.react-3d-carousel .slider-container .slider-content .slider-single.proactivede:nth-of-type(1) .slider-single-content {
    opacity: 0.3;
    transform: translateX(25%) scale(0.8) !important;
}

.css-doq0dk {
    height: 60vh !important;
    width: 90% !important;
}

@media (max-width: 1240px) {
    .css-doq0dk {
        width: 72% !important;
    }
  }
  @media (max-width: 1240px) {
    .css-1fzpoyk {
        height: 92% !important;
    }
  }
  @media (max-width: 810px) {
    .css-1fzpoyk {
        height: 76% !important;
    }
  }
  @media (max-width: 740px) {
    .css-1fzpoyk {
        height: 68% !important;
    }
  }
  @media (max-width: 650px) {
    .css-1fzpoyk {
        height: 57% !important;
    }
  }
  @media (max-width: 553px) {
    .css-1fzpoyk {
        height: 48% !important;
    }
  }
  @media (max-width: 465px) {
    .css-1fzpoyk {
        height: 42% !important;
    }
  }
#blahblah {
    position: absolute;
    top: -16rem;
    z-index: 2;
    left: -34vw;
}
@media (max-width: 810px) {
    #blahblah {
        top: -14rem;
    }
  }
  @media (max-width: 553px) {
    #blahblah {
        left: -38vw;
    }
  }
#blahblah1 {
    position: absolute;
    top: -16rem;
    z-index: 2;
    left: 50vw;
}

@media (max-width: 810px) {
    #blahblah1 {
        margin-left: unset !important;
        top: -14rem;
    }
  }
  @media (max-width: 553px) {
    #blahblah1 {
        left: 49vw;
    }
  }
.grid_1{
    border-right: 1px solid #D4AF37;
     border-bottom: 1px solid #D4AF37;
}
.grid_2{
    border-right: 1px solid #D4AF37;
     border-bottom: 1px solid #D4AF37;
}
@media (max-width: 740px) {
    .grid_2 {
        border-right: unset;
    }
}

.grid_3{
    border-right: 1px solid #D4AF37;
    border-bottom: 1px solid #D4AF37;
}
@media (max-width: 1240px) {
    .grid_3 {
        border-right: unset;
    }
  }
  @media (max-width: 740px) {
    .grid_3 {
        border-right: 1px solid #D4AF37;
    }
}

.grid_4{
    border-bottom: 1px solid #D4AF37 
}
@media (max-width: 1240px) {
    .grid_4 {
        border-right:1px solid #D4AF37;
    }
  }
  @media (max-width: 740px) {
    .grid_4 {
        border-right: unset;
    }
}

.grid_5{
    border-right: 1px solid #D4AF37;
     border-bottom: 1px solid #D4AF37;
}
.grid_6{
    border-right: 1px solid #D4AF37;
     border-bottom: 1px solid #D4AF37;
}
@media (max-width: 1240px) {
    .grid_6 {
        border-right: unset;
    }
  }
.grid_7{
    border-right: 1px solid #D4AF37;
    border-bottom: 1px solid #D4AF37;
}
.grid_7{
    border-right: 1px solid #D4AF37;
    border-bottom: 1px solid #D4AF37;
}
.grid_8{
    border-bottom: 1px solid #D4AF37;
}
@media (max-width: 1240px) {
    .grid_8 {
        border-right:1px solid #D4AF37;
    }
  }
  @media (max-width: 740px) {
    .grid_8 {
        border-right: unset;
    }
}

.grid_9{
    border-right: 1px solid #D4AF37;

}
@media (max-width: 1240px) {
    .grid_9 {
        border-bottom:1px solid #D4AF37;
        border-right: unset;
    }
  }
  @media (max-width: 740px) {
    .grid_9 {
        border-right: 1px solid #D4AF37;;
    }
}

.grid_10{
    border-right: 1px solid #D4AF37;

}
@media (max-width: 740px) {
    .grid_10 {
        border-bottom:1px solid #D4AF37;
        border-right: unset;
    }
}

.grid_11{
    border-right: 1px solid #D4AF37;

}
.grid_12{

}
.imageText {
    background-color: #12262099;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #D6AD60;
    border: 1px solid #D6AD60;
    position: absolute;
    right: 10vw;
    z-index: 3;
    padding: 0.6rem 0.85rem;
    border-radius: 8px;
    top: 67vh;
}
@media (max-width: 896px) {
    .imageText {
        right: 5vw;
    }
  }
  @media (max-width: 590px) {
    .imageText {
        top: 50vh;
    }
  }
  @media (max-width: 470px) {
    .imageText{
        top: 31vh;
    }
}